body{
    background-image: url("travel.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
img{
    width: 100%;
    height: 100%;
}
#second{
    background-color: rgb(196, 14, 14);
}
h1 {
    background-color: rgb(224, 128, 11); color: black;border: 3px solid brown;text-align: center;
}